<app-card>
    <div card-title class="header">
        <div>
            <h1>Registrazione nuovo utente</h1>
        </div>
    </div>

    <form [formGroup]="form" class="form-container" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Nome completo (nome e cognome)</mat-label>
            <input matInput type="text" formControlName="name">

            @if (name?.hasError('required')) {
            <mat-error>Il campo è richiesto</mat-error>
            }
            @else if (name?.hasError('minlength')) {
            <mat-error>Inserire minimo 8 caratteri</mat-error>
            }
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email">

            @if (email?.hasError('required')) {
            <mat-error>Il campo è richiesto</mat-error>
            }
            @else if (email?.hasError('email')) {
            <mat-error>Inserire una email valida</mat-error>
            }
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>

            @if (password?.hasError('required')) {
            <mat-error>Il campo è richiesto</mat-error>
            }
            @else if (password?.hasError('minlength')) {
            <mat-error>Inserire minimo 8 caratteri</mat-error>
            }
            @else if (password?.hasError('maxlength')) {
            <mat-error>Inserire massimo 16 caratteri</mat-error>
            }
        </mat-form-field>

        @if (userService.databaseHasUser()) {
        <mat-form-field>
            <mat-label>Ruolo</mat-label>
            <mat-select formControlName="role" (selectionChange)="onRoleChange($event)">
                @for (role of roles; track role) {
                <mat-option [value]="role.role">{{role.label}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        }

        <mat-form-field>
            <mat-label>FileId</mat-label>
            <input matInput type="text" formControlName="fileId" [required]="fileIdRequired()">

            @if (fileId?.hasError('required')) {
            <mat-error>Il campo è richiesto</mat-error>
            }
        </mat-form-field>

        <div class="register-button-row">
            <button mat-raised-button type="submit" [disabled]="!form.valid">Register</button>
        </div>
    </form>
</app-card>