<app-card>
  <div card-title class="header">
    <div class="logout-row">
      <button class="logout-button" mat-button (click)="logout()">Logout</button>
    </div>
    <div>
      <h1>Ciao {{userName()}}</h1>
      <p>{{message()}}</p>
    </div>
  </div>

  <form class="form-container" [formGroup]="form" (ngSubmit)="onSubmit()">
    
    <div class="date-container">
      <mat-form-field class="input-date">
        <mat-label>Data inizio</mat-label>
        <input matInput [matDatepicker]="dataInizio" formControlName="dataInizio" [min]="endDateLastResoconto">
        <mat-datepicker-toggle matIconSuffix [for]="dataInizio"></mat-datepicker-toggle>
        <mat-datepicker #dataInizio></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="input-date">
        <mat-label>Data fine</mat-label>
        <input matInput [matDatepicker]="dataFine" formControlName="dataFine" [min]="endDateLastResoconto">
        <mat-datepicker-toggle matIconSuffix [for]="dataFine"></mat-datepicker-toggle>
        <mat-datepicker #dataFine></mat-datepicker>
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Tipo attività</mat-label>
      <mat-select formControlName="tipoAttivita">
        @for (tipo of tipoAttivita; track tipo) {
        <mat-option [value]="tipo">{{tipo}}</mat-option>
        }
      </mat-select>

      @if (form.get('tipoAttivita')?.hasError('required')) {
      <mat-error>{{ campoObbligatorio }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Attività</mat-label>
      <input matInput type="text" [maxlength]="attivitaMaxLength" formControlName="attivita">

      @if (attivita?.value) {
      <mat-hint align="end">{{ attivita?.value?.length || 0 }} / {{ attivitaMaxLength }}</mat-hint>
      }

      @if (attivita?.hasError('required')) {
      <mat-error>{{ campoObbligatorio }}</mat-error>
      }
      @if (attivita?.hasError('maxlength')) {
      <mat-error>Inserire massimo {{ attivitaMaxLength }} caratteri</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Descrizione</mat-label>
      <textarea matInput type="text" [maxlength]="descrizioneMaxLength" formControlName="descrizione"></textarea>

      @if (descrizione?.value) {
      <mat-hint align="end">{{ descrizione?.value?.length || 0 }} / {{ descrizioneMaxLength }}</mat-hint>
      }

      @if (descrizione?.hasError('required')) {
      <mat-error>{{ campoObbligatorio }}</mat-error>
      }
      @if (descrizione?.hasError('maxlength')) {
      <mat-error>Inserire massimo 500 caratteri</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Persona di riferimento</mat-label>
      <input matInput type="text" [maxlength]="personaRiferimentoMaxLength"
        matTooltip="Inserire il nome del referente del progetto o dell'attività" formControlName="personaRiferimento">

      @if (personaRiferimento?.value) {
      <mat-hint align="end">{{ personaRiferimento?.value?.length || 0 }} / {{ personaRiferimentoMaxLength }}</mat-hint>
      }

      @if (personaRiferimento?.hasError('required')) {
      <mat-error>{{ campoObbligatorio }}</mat-error>
      }
      @if (personaRiferimento?.hasError('maxlength')) {
      <mat-error>Inserire massimo 100 caratteri</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cliente</mat-label>
      <input matInput type="text" [maxlength]="clienteMaxLength"
        matTooltip="Inserire il nome della società se l'attività riguarda una consulenza oppure 'Gruppo S.I.'' se riguarda un progetto interno."
        formControlName="cliente">

      @if (cliente?.value) {
      <mat-hint align="end">{{ cliente?.value?.length || 0 }} / {{ clienteMaxLength }}</mat-hint>
      }

      @if (cliente?.hasError('required')) {
      <mat-error>{{ campoObbligatorio }}</mat-error>
      }
      @if (cliente?.hasError('maxlength')) {
      <mat-error>Inserire massimo 100 caratteri</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Colleghi Software Industriale</mat-label>
      <textarea matInput type="text" [maxlength]="colleghiSIMaxLength"
        matTooltip="Inserire il cognome del collega o dei colleghi di Software Industriale con cui collabora per l'attività descritta"
        formControlName="colleghiSI"></textarea>

      @if (colleghiSI?.value) {
      <mat-hint align="end">{{ colleghiSI?.value?.length || 0 }} / {{ colleghiSIMaxLength }}</mat-hint>
      }

      @if (colleghiSI?.hasError('maxlength')) {
      <mat-error>Inserire massimo 500 caratteri</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Note</mat-label>
      <textarea matInput type="text" [maxlength]="noteMaxLength"
        matTooltip="Inserire eventuali note aggiuntive che facciano riferimento all'attività descritta"
        formControlName="note"></textarea>

      @if (note?.value) {
      <mat-hint align="end">{{ note?.value?.length || 0 }} / {{ noteMaxLength }}</mat-hint>
      }

      @if (note?.hasError('maxlength')) {
      <mat-error>Inserire massimo 500 caratteri</mat-error>
      }
    </mat-form-field>

    @if (submitButtonVisibility()) {
    <div class="button-row">
      <button mat-raised-button type="submit" [disabled]="!form.valid">Invia</button>
    </div>
    }

  </form>
</app-card>