.container {
    margin-top: 3rem;
    width: 85vw;
}

.table-container {
    height: 40rem;
    overflow: auto;
}

table {
    width: 100%;
}

.mat-column-dataInizio, 
.mat-column-dataFine {
    width: 8%;
}

.mat-column-tipoAttivita {
    width: 10%;
}