<app-card>
  <form [formGroup]="form" class="form-container" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email">

      @if (this.form.get('email')?.hasError('required')) {
      <mat-error>Il campo è richiesto</mat-error>
      }
      @if (this.form.get('email')?.hasError('email')) {
      <mat-error>Inserire una email valida</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">

      @if (this.form.get('password')?.hasError('required')) {
      <mat-error>Il campo è richiesto</mat-error>
      }
      @else if (this.form.get('password')?.hasError('minlength')) {
      <mat-error>Inserire minimo 8 caratteri</mat-error>
      }
      @else if (this.form.get('password')?.hasError('maxlength')) {
      <mat-error>Inserire massimo 16 caratteri</mat-error>
      }
    </mat-form-field>

    <div class="login-button-row">
      <button mat-raised-button type="submit" [disabled]="!form.valid">Login</button>
    </div>
  </form>
</app-card>