:host {
  width: 30rem;
}

.form-container {
  min-width: 25rem;
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}

mat-form-field {
  margin-bottom: 1.5rem;
}

.reset-button-row {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.not-equal-error-row {
  display: flex; 
  justify-content: center; 
  height: 14px; font-size: 12px; 
  margin-top: 0.2rem;
}

.back-button-row {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}