<app-card>
    <form [formGroup]="form" class="form-container" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email">

            @if (form.get('email')?.hasError('required')) {
            <mat-error>Il campo è richiesto</mat-error>
            }
            @if (form.get('email')?.hasError('email')) {
            <mat-error>Inserire una email valida</mat-error>
            }
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Password attuale</mat-label>
            <input matInput type="password" formControlName="currentPassword">

            @if (form.get('currentPassword')?.hasError('required')) {
            <mat-error>Il campo è richiesto</mat-error>
            }
            @else if (form.get('currentPassword')?.hasError('minlength')) {
            <mat-error>Inserire minimo 8 caratteri</mat-error>
            }
            @else if (form.get('currentPassword')?.hasError('maxlength')) {
            <mat-error>Inserire massimo 16 caratteri</mat-error>
            }
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nuova password</mat-label>
            <input matInput type="password" formControlName="newPassword">

            @if (form.get('newPassword')?.hasError('required')) {
            <mat-error>Il campo è richiesto</mat-error>
            }
            @else if (form.get('newPassword')?.hasError('minlength')) {
            <mat-error>Inserire minimo 8 caratteri</mat-error>
            }
            @else if (form.get('newPassword')?.hasError('maxlength')) {
            <mat-error>Inserire massimo 16 caratteri</mat-error>
            }
        </mat-form-field>

        <div class="reset-button-row">
            <button mat-raised-button type="submit" [disabled]="!form.valid">Cambia password</button>
        </div>
    </form>
</app-card>