<app-card>
    <form [formGroup]="form" class="form-container" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email">

            @if (email?.hasError('required')) {
            <mat-error>Il campo è richiesto</mat-error>
            }
            @if (email?.hasError('email')) {
            <mat-error>Inserire una email valida</mat-error>
            }
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password attuale</mat-label>
            <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" formControlName="currentPassword">
            <button mat-icon-button matSuffix type="button" (click)="hideCurrentPassword = !hideCurrentPassword">
                <mat-icon>{{ hideCurrentPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>

            @if (currentPassword?.hasError('required')) {
            <mat-error>Il campo è richiesto</mat-error>
            }
            @else if (currentPassword?.hasError('minlength')) {
            <mat-error>Inserire minimo 8 caratteri</mat-error>
            }
            @else if (currentPassword?.hasError('maxlength')) {
            <mat-error>Inserire massimo 16 caratteri</mat-error>
            }
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nuova password</mat-label>
            <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword">
            <button mat-icon-button matSuffix type="button" (click)="hideNewPassword = !hideNewPassword">
                <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>

            @if (newPassword?.hasError('required')) {
            <mat-error>Il campo è richiesto</mat-error>
            }
            @else if (newPassword?.hasError('minlength')) {
            <mat-error>Inserire minimo 8 caratteri</mat-error>
            }
            @else if (newPassword?.hasError('maxlength')) {
            <mat-error>Inserire massimo 16 caratteri</mat-error>
            }
        </mat-form-field>

        <div class="reset-button-row">
            <button mat-raised-button type="submit" [disabled]="!form.valid">Cambia password</button>
        </div>
    </form>
</app-card>