<header>
	<div class="title-nav-container">
		<span class="title">Gestione Resoconti</span>

		@if (
		authService.user &&
		!authService.user.mustChangePassword &&
		authService.user.role &&
		authService.user.role
		=== Role.Admin
		) {
		<nav>
			<ul>
				<li>
					<button class="menu-button" mat-button [matMenuTriggerFor]="utenti">
						<span>Utenti</span>
						<mat-icon>keyboard_arrow_down</mat-icon>
					</button>
					<mat-menu #utenti="matMenu">
						<button mat-menu-item routerLink="/register">Registra nuovo utente</button>
					</mat-menu>
				</li>
				<li>
					<button class="menu-button" mat-button [matMenuTriggerFor]="resoconti">
						<span>Resoconti</span>
						<mat-icon>keyboard_arrow_down</mat-icon>
					</button>
					<mat-menu #resoconti="matMenu">
						<button mat-menu-item routerLink="/visualizza-resoconti">Visualizza Resoconti</button>
						<button mat-menu-item routerLink="/inserimento-resoconto">Inserisci Resoconto</button>
					</mat-menu>
				</li>
			</ul>
		</nav>
		}
	</div>

	<div class="logout">
		@if (authService.user) {
		<span class="username">
			{{authService.user.name}}
		</span>

		<button mat-icon-button [matMenuTriggerFor]="menu">
			<mat-icon>account_circle</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button class="logout-button" mat-menu-item (click)="logout()">Logout</button>
		</mat-menu>
		}
	</div>
</header>