/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; }

body { 
  margin: 0; 
  font-family: Inter, Roboto, "Helvetica Neue", sans-serif; 
}

.mat-mdc-raised-button, .mat-mdc-raised-button .mdc-button__ripple {
  border-radius: 0.5rem !important;
}
